* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Bungee", sans-serif;
}

h1 {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
/* HEADER STUFF AND STYLES */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  border-bottom: 1px solid white;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li {
  list-style: none;
}

/* End */

/* Middle */
.Middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-bottom: 1px solid white;
}

.Middle div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* End */

/* Skills */
.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid white;
}

.Skills h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.Skills__lists {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  max-width: 600px;
  justify-content: center;
}

.Skills__list {
  list-style-position: inside;
}

/* End */

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid white;
}

footer p {
  font-size: 1.2rem;
}

footer a {
  font-size: 1.2rem;
}
/* End */
