* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Bungee", sans-serif;
}

h1 {
  color: white;
  /* text-fill-color: transparent; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
/* HEADER STUFF AND STYLES */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  border-bottom: 1px solid white;
}

header h1 {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
header nav {
  display: flex;
  gap: 1rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li {
  list-style: none;
}

/* End */

/* Middle */
.Middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-bottom: 1px solid white;
}

.Middle div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* End */

/* Skills */
.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid white;
}

.Skills h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.Skills__lists {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  max-width: 600px;
  justify-content: center;
}

.Skills__list {
  list-style-position: inside;
}

/* End */

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid white;
}

footer p {
  font-size: 1.2rem;
}

footer a {
  font-size: 1.2rem;
}
/* End */

/* Projects */
.Projects {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  border-bottom: 1px solid white;
}

.Projects h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.Project-title {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}

.Project-title h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.Project-title p {
  font-size: 0.8rem;
}

.Project-title a {
  font-size: 0.8rem;
}

.Project-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  box-shadow: 0 4px 8px 0 rgb(251, 251, 251);
  transition: 0.3s;
}
/* End */
